body {
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Joseon100Years';

    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

@font-face {
    font-family: 'Joseon100Years';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}


.big-text {
    font-size: 100px;
    margin: 10px;
    margin-bottom: 50px;
}

.mid-text {
    font-size: 50px;
    margin: 10px;
}

.small-text {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Pretendard';
}

.small-text2 {
    position: fixed;
    top: 10px;     
    right: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Pretendard';
}
